// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-grey-1: #f8f9fa;
$color-grey-2: #eaeaea;
$color-grey-3: #6c757d;

// States
$state-hover: $color-grey-2;
$state-passed: $color-grey-1;
$state-selected: red;

// Spacing
$space-1: 8px;
$space-2: 16px;

// Breakpoints
$bp-calendar: 700px;
